*.iws
*Db.properties
*Db.script
.DS_Store
.settings
stacktrace.log

/*.log
/*.zip
/*DB.*
/.link_to_grails_plugins/
/cobertura.ser
/out/
/plugin.xml
/target-eclipse/
/target/
/web-app/WEB-INF/classes
/web-app/plugins

grails-app/conf/DataSource.groovy
